@model IEnumerable<Category>
@{
    ViewData["Title"] = "List of Categorys";
}
<div class="shoping-cart section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="headline">
                    <h2>Category</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                                <th>@Html.DisplayNameFor(model => model.FullName)</th>
                                <th>@Html.DisplayNameFor(model => model.Description)</th>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <th>Actions</th>
                                }
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="shopping-cart-btn">
                                        <button type="button" class="btn btn-default left-cart">
                                            <a class="btn btn-outline-success" asp-controller="Products" asp-action="Index">
                                                Continue Shopping
                                            </a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle">
                                        <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px" />
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <td class="align-middle">
                                            <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                                            <a class="btn btn-default" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Categorys") 